/* *{
    margin: 0%;
    padding: 0%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}


.formCadastro{
    flex-direction: column;
    width: 20px;
    border: solid;
    width: 400px;
    margin: 10px;
    padding: 10px;
    border: black 1px solid
} */

body{
    font-family: Arial, sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333333;
}

.calendario{
    background-color: #111111;
    border-radius: 10px;
    box-shadow: 0 0 30px #222222;
    overflow: hidden;
    width: 300px;
    color: white;
    padding: 20px;
}